.m-loginTip{
  width: 100%;
  height: 100%;
  padding-top: 1.5rem;
  .close{
    padding-right: 1.5rem;
    margin-bottom: 5rem;
  }
  .logo-img, .logo-text{
    display: block;
    width: 5rem;
    margin: 0 auto;
  }
  .logo-text{
    margin-top: 1.7rem;
  }
  .btn-wrap{
    width: 100%;
    position: fixed;
    bottom: 1rem;
    text-align: center;
    .wx-login{
      display: block;
      width: 80%;
      margin: 0 auto 1.7rem;
      padding: 0.5rem 0;
      background: #FFDA44;
      border: none;
      outline: none;
      border-radius: 5px;
    }
  }
}
.m-login-method{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .modal{
    height: 75%;
    background: #222222;
    opacity: 0.5;
    filter: alpha(opacity=50);
    animation: myfirst 2s;
  }
  .method{
    height: 25%;
    background: #fff;
  }
}