.m-bill{
  height: 100%;
  .head{
    height: 9.5rem;
    background: #FFDA44;
    padding: 0.625rem 0 0 0;
    position: relative;
    .back{
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
    h2{
      text-align: center;
    }
    .choose-year{
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
    .balance{
      padding-top: 1rem;
      text-align: center;
      p{
        color: #696969;
        font-size: 12px;
        margin-bottom: .5rem;
        &.balance-money{
          color: #000;
          font-size: 2.1875rem;
          font-weight: 300;
        }
      }
    }
    .sub-title{
      display: flex;
      li{
        flex-grow: 1;
        text-align: center;
        &:first-child{
          border-right: 1px solid #696969;
        }
        label{
          color: #696969;
          font-size: 12px;
          margin-right: 0.3rem;
        }
      }
    }
  }
  table{
    width: 100%;
    text-align: center;
    thead{
      color: #a9a9a9;
      border-bottom: 1px solid #F5F5F5;
      th{
        padding: 0.2rem;
      }
    }
    tbody{
      tr{
        border-bottom: 1px solid #F5F5F5;
      }
      td{
        padding: 0.8rem 0.5rem;
      }
    }
  }
}